defaultEncryptionAlgorithm.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="defaulEencryptionAlgorithm">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="mainAlgorithm"/>
        <xs:element type="xs:string" name="subAlgoruthm1"/>
        <xs:element type="xs:string" name="subAlgoruthm2"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>