reportOfDir.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="reportForDirectory">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="nameOfDirectory"/>
        <xs:element name="filesInDirectory">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="file">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="nameOfFile"/>
                    <xs:element type="xs:string" name="Action"/>
                    <xs:element type="xs:string" name="status"/>
                    <xs:element name="ifSucceeded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:long" name="timeInMillis"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ifFailed">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="ExceptionName"/>
                          <xs:element type="xs:string" name="ExceptionMessage"/>
                          <xs:element type="xs:string" name="ExceptionStacktrace"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>